@font-face {
  font-family: "Gothiks-Book";
  src: local("Gothiks-Book"),
    url('../assets/fonts/Gothiks-Book.woff') format("woff");
  font-weight: normal;
  font-style: 400;
  font-display: swap;
}
@font-face {
  font-family: "Cousine";
  src: local("Cousine-Regular"),
    url('../assets/fonts/Cousine-Regular.woff') format("woff");
  font-weight: normal;
  font-style: 400;
  font-display: swap;
}

/*Global*/
:root {
  --white: #e3e5d8;
  --black: #171717;
  --accentColor: #EE6010;
  --accentFont: Gothiks-Book;
  --mainFont: Cousine;
  --sideMargin: 5vw;
  --border: 1px solid #e3e5d8;
}
* {
  margin: 0;
  box-sizing: border-box;
  outline: none;
  vertical-align: baseline;
}
html {
  scroll-behavior: smooth;
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--white) var(--black);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: var(--black);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--white);
  border-radius: 15px;
  border: 3px solid var(--black);
}

body {
  background-color: var(--black);
  width: 100vw;
  overflow-x: hidden;
  position: relative;
}
a, button {
  text-decoration: none;
  color: var(--white);
  transition: all .4s;
}
h1, .h1 {
  color: var(--white);
  font-family: var(--accentFont);
  font-size: clamp(6rem, 16.5vw, 18vw);
  font-weight: 400;
  text-transform: uppercase;
  padding: 0%;
  margin: 0%;
}
h2, .h2 {
  color: var(--white);
  font-family: var(--accentFont);
  font-size: clamp(4rem, 7vw, 7vw);
  text-transform: uppercase;
  font-weight: 200;
  line-height: clamp(4rem, 7vw, 7vw);
  padding: 0;
  margin: 0;
}
h3, .h3 {
  font-size: clamp(3rem, 4vw, 5vw);
  font-weight: 400;
  font-family: var(--accentFont);
  text-transform: uppercase;
  line-height: 83%;
}
h4, .h4 {
  color: var(--white);
  font-size: 1.8rem;
  font-weight: 400;
  font-family: var(--accentFont);
  text-transform: uppercase;
  padding-bottom: 0.4rem;
}
.generalText {
  text-align: left;
  font-family: var(--mainFont);
  max-width: 50ch;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}
ul {
  list-style: none;
}
.whiteText {
  color: var(--white);
}
.orangeText {
  color: var(--accentColor);
}
.leftMargin {
  position: relative;
  left: var(--sideMargin);
}
.rightMargin {
  right: var(--sideMargin);
}

.cross {
  width: 70px;
  height: 70px;
  padding: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 10px;
  transition: .25s ease;
  > div {
    background-color: var(--accentColor);
    height: 10px;
    width: 100%;
    transition: all ease-in-out 0.3s;
  }
  .crossbar {
    position: relative;
    &.topBar {
      transform: rotate(45deg) translate(15px, 13px);
    }
    &.bottomBar {
      transform: rotate(-45deg)
    }
  }
  &:hover {
    transform: scale(0.8);
  }
}
/*Navigation bar*/
.header {
  width: 100%;
  position: fixed;
  top: 30px;
  right: 30px;
  margin: 0%;
  padding: 0%;
  z-index: 10;
  justify-content: flex-end;
  display: none;
  &.show {
    display: flex;
  }
  .hamburguerIcon {
    position: relative;
    z-index: 10;
    &.opened {
      > div {
        background-color: var(--white);
        position: relative;
        &.topBar {
          transform: rotate(45deg) translate(15px, 13px);
        }
        &.bottomBar {
          transform: rotate(-45deg)
        }
      }
    }
  }
  
  nav {
    position: fixed;
    top: 65px;
    right: 65px;
    transition: all ease-in-out 0.2s;
    width: fit-content;
    padding: 3rem 10rem 3rem 5rem;
    margin: 0%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--accentColor);
    display: none;
    &.show {
      display: flex;
    }
    #ctnNavLinks {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      color: var(--white);
      padding: 0;
      margin: 0;
      li {
        transition: all 0.3s ease;
        cursor: pointer;
        a {
          text-align: center;
          color: inherit;
          font-weight: 300;
          letter-spacing: -0.6px;
          text-decoration: none;
          margin: 0px 10px;
        }
        &:hover {
          transform: scale(0.9);
        }
      }
    }
    
  }
}
/*Animations*/