@font-face {
font-family: "Michega";
src: local("Michega"),
  url(./assets/fonts/michega.ttf) format("truetype");
}

/*Global*/
:root {
  --white: #e3e5d8;
  --accentColor: #1FAF47;
  --figure_borders: 1px solid #e5d8d8a6;
  --accentFont: Michega;
  --mainFont: Noto Serif;
  --black: #171717;
  --panko: 187, 174, 163;
}
* {
  margin: 0;
  box-sizing: border-box;
  outline: none;
  vertical-align: baseline;
}
html {
  scroll-behavior: smooth;
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--black);
}
*::-webkit-scrollbar {
  width: 10px;
}
*::-webkit-scrollbar-track, *::-webkit-scrollbar-track:hover, *::-webkit-scrollbar-track:active {
  background-color: var(--black);
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  border: 1px solid var(--black);
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(227, 229, 216, 0.247);

} *::-webkit-scrollbar-thumb:hover, *::-webkit-scrollbar-thumb:active {
  background-color: var(--white);
}
body {
  background-color: var(--black);
  width: 100vw;
  overflow-x: hidden;
  position: relative;
}
main {
  padding: 90px 5vw 0px;
}
a, button {
  text-decoration: none;
  color: var(--white);
  transition: all .4s;
}
h1 {
  color: var(--white);
  font-family: var(--accentFont);
  font-size: 9vw;
  font-weight: 400;
  letter-spacing: -2.6px;
  text-transform: uppercase;
  padding: 0%;
  margin: 0%;
}
h2 {
  color: var(--accentColor);
  font-family: var(--mainFont);
  font-size: 6vw;
  font-weight: 200;
  letter-spacing: -2.4px;
}
h3 {
  color: var(--white);
  text-align: center;
  font-weight: 400;
  font-family: var(--accentFont);
  letter-spacing: -1.6px;
  text-transform: uppercase;
}
ul {
  list-style: none;
}

/*Navigation bar*/
header {
  width: 97vw;
  position: fixed;
  margin: 0%;
  padding: 0%;
  z-index: 10;
}
nav {
  position: fixed;
  top: -50px;
  transition: ease-in-out 0.3s;
  opacity: 0;
  width: 100%;
  padding: 15px 5vw;
  margin: 0%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #171717c9;
  backdrop-filter: blur(3px);
}
#ctnNavLinks {
  width: 100%;
  display: flex;
  justify-content: center;
  color: var(--white);
}
nav a {
  text-align: center;
  color: inherit;
  font-weight: 300;
  font-family: var(--mainFont);
  font-size: 1.4rem;
  letter-spacing: -0.6px;
  text-transform: capitalize;
  text-decoration: none;
  transition: .25s ease;
  margin: 0px 10px;
}
nav ul:hover a {
  color: #e3e5d8b6;
  opacity: 100;
}
nav li:hover a:hover {
  color: var(--white);
  box-shadow: 0 2px 0 0 currentcolor;
}
a:hover, .accent, button:hover {
  color: var(--accentColor);
}


.big_green_number {
  display: inline-block;
  color: var(--accentColor);
  font-weight: 400;
  font-family: var(--accentFont);
  letter-spacing: -0.913px;
}
.title_afterNumber {
  color: var(--white);
  margin-left: 10px;
  font-weight: 400;
  font-family: var(--accentFont);
  line-height: 20px;
  letter-spacing: -1.05px;
}

@media (max-width: 1000px) {
  h3 {
    font-size: 2.5rem;
  }
  .big_green_number {
      font-size: 2rem;
}
  .title_afterNumber {
    font-size: 1.8rem;
  }
}
@media (min-width: 1000px) {
  h3 {
    font-size: 4vw;
  }
  .big_green_number {
    font-size: 2.5rem;
  }
  .title_afterNumber {
    font-size: 2.2rem;
  }
}

/*Animations*/
.focus-in {
-webkit-animation: focus-in 0.8s cubic-bezier(0.550, 0.085, 0.680, 0.530) 1ms both;
        animation: focus-in 0.8s cubic-bezier(0.550, 0.085, 0.680, 0.530) 1ms both;
}
@-webkit-keyframes focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}

.slideInRight {
-webkit-animation-name: slideInRight;
animation-name: slideInRight;
-webkit-animation-duration: 1.5s;
animation-duration: 1.5s;
-webkit-animation-fill-mode: both;
animation-fill-mode: both;
animation-delay: 1s;
transition: ease-in;
}
@-webkit-keyframes slideInRight {
  0% {
    -webkit-transform: translateX(150%);
    transform: translateX(150%);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes slideInRight {
0% {
  -webkit-transform: translateX(150%);
  transform: translateX(150%);
  visibility: visible;
}
100% {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
} 

.slideInLeft {
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  transition: all 1s easeInOut 0s;
  animation-delay: 1s;
}
@-webkit-keyframes slideInLeft {
  0% {
    -webkit-transform: translateX(-150%);
    transform: translateX(-150%);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  }
  @keyframes slideInLeft {
  0% {
    -webkit-transform: translateX(-150%);
    transform: translateX(-150%);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
} 


/*FIGURES*/
.arc, .star, .line, #about_ctnFigures, .halfCircle, .fullCircle {
  position: absolute;
  z-index: -2;
}
.arc {
  border-radius: 35vw 35vw 0px 0px;
  flex-shrink: 0;
}
.halfCircle {
  border: var(--figure_borders);

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.line, .arc, .fullCircle {
  border: var(--figure_borders);
}
.positionRelative {
  position: relative;
  height: max-content;
}
.fullCircle {
  border-radius: 100%;
}