@use './base.scss';

//HOME
#home {
    #ctn_name {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        min-height: 98vh;
        overflow: hidden;
        .leftMargin {
            margin-top: 4rem;
            padding-bottom: 6rem;
        }
        #webDev {
            text-align: end;
            margin-right: 2vw;
            p {
              font-size: clamp(4rem, 10vw , 11vw);
              color: var(--white);
              font-family: var(--accentFont);
              text-transform: uppercase;
              font-weight: 200;
              line-height: clamp(4rem, 10vw , 11vw);
              padding: 0;
              margin: 0;
            }
        }
        > div:first-of-type {
            position: relative;
            margin-top: -1.4vw;
            h1 {
                padding: 0;
                line-height: 80%;
            }
            .asterisk {
                width: 8vw;
                position: absolute;
                right: 2vw;
                bottom: 0vw;
                z-index: 3;
                color: var(--accentColor);
                img {
                    width: 100%;
                }
                svg {
                    color: var(--accentColor);
                }
            }
        }
    }
    #works {
        margin-top: 10rem;
        border-top: var(--border);
    }
    #ctn_projects {
        margin-top: 3rem;
        width: 100vw;
        // height: 100vh;
        // min-height: 300px;
        // overflow: scroll;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        
        // .titleBox {
        //     position: absolute;
        //     height: 100%;
        //     width: 100%;
        //     display: flex;
        //     align-items: center;
        //     justify-content: center;
        //     .title {
        //         color: var(--accentColor);
        //     }
        // }
        h2 {
            text-align: center;
            margin-top: 5rem;
            margin-bottom: 5rem;
        }
        .cards {
            display: grid;
            grid-template-columns: 50% 50%;
            justify-content: space-between;
            justify-items: center;
            align-items: center;
            width: 100%;
            height: fit-content;
            min-height: 100%;
            overflow: visible;
            row-gap: 40px;
            > div {
                width: 100%;
                display: flex;
                justify-content: center;
                &:nth-of-type(even) {
                    .projectName {
                        text-align: right;
                        flex-direction: row-reverse;
                        a {
                            &:hover img {
                                translate: 10px 10px;
                            }
                        }
                    }
                    // .projectImg:hover {
                    //     img {
                    //         transform: translate(10px, 10px);
                    //     }
                    // }
                }
                &:nth-of-type(odd) {
                    .projectName {
                        flex-direction: row;
                        a {
                            &:hover img {
                                translate: -10px 10px;
                            }
                            img {
                                transform: rotate(90deg);
                            }
                        }
                    }
                    // .projectImg:hover {
                    //     img {
                    //         transform: translate(-10px, 10px);
                    //     }
                    // }
                }
            }
            .projectCard {
                position: relative;
                max-width: 38vw;
                width: 100%;
                display: flex;
                flex-direction: column;
                padding-top: 3vw;
                .projectName {
                    z-index: 2;
                    width: 100%;
                    margin-top: -3vw;
                    position: absolute;
                    display: flex;
                    justify-content: space-between;
                    p {
                        max-width: 13ch;
                    }
                    a {
                        img {
                            transition: all 0.3s ease;
                            margin-top: 1vw;
                            width: clamp(3rem, 3vw, 6vw);
                        }
                    }
                }
                .projectImg {
                    width: 100%;
                    aspect-ratio: 3 / 2;
                    border: 2px solid transparent;
                    transition: all 0.3s ease;
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        transition: all 0.3s ease;
                        box-sizing: border-box; 
                        filter: grayscale(1) brightness(0.7);
                    }
                    &:hover {
                        // border: 2px solid var(--accentColor);
                        img {
                            filter: grayscale(1) brightness(0.4);
                            transform: scale(0.95);
                        }
                        .readMore {
                            opacity: 1;
                        }
                    }
                    .readMore {
                        opacity: 0;
                        transition: all 0.3s ease;
                        position: absolute;
                        padding: 0.5rem 1.5rem;
                        background-color: var(--accentColor);
                    }
                }
                .projectInfo {
                    margin-top: 30px;
                }
            }
        }
    }
}

#ctn_pageNotFound, #pageNotFound_titles, #pageNotFound_getBackLinks {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
#ctn_pageNotFound {
    width: 100%;
    height: 100vh;
    h2 {
        margin-top: -3vw;
    }
    #pageNotFound_titles p {
        color: var(--white);
        font-family: var(--accentFont);
        font-size: 6vw;
        font-weight: 400;
        letter-spacing: -2.6px;
        text-transform: uppercase;
    }
    #pageNotFound_getBackLinks {
        padding-top: 50px;
        p {
            color: var(--white);
            font-family: var(--mainFont);
            font-size: 40px;
            font-weight: 300;
            letter-spacing: -1.2px;
        }
        ul {
            text-align: center;
            display: flex;
            flex-direction: row;
            margin-top: 3%;
            :hover a {
                color: #e3e5d8b6;
                opacity: 100;
            }
        }
        li:hover a:hover {
            color: var(--white);
            box-shadow: 0 2px 0 0 currentcolor;
        }
        a {
            color: var(--white);
            font-weight: 300;
            font-family: var(--mainFont);
            font-size: 1.4rem;
            letter-spacing: -0.6px;
            text-decoration: none;
            transition: .25s ease;
            margin: 0px 10px;
        }
    }
}

footer {
    padding: 50px;
    margin-top: 10rem;
    color: var(--white);
    border-top: var(--border);
    display: flex;
    flex-direction: row;
    gap: 50px;
    overflow: hidden;

    .footer_social-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin-top: 5vw;
        > div {
            display: flex;
            flex-direction: row;
            margin-bottom: 20px;
        }
        .social-link {
            height: 8vw;
            width: 8vw;
            min-width: 24px;
            min-height: 24px;
            max-width: 2rem;
            max-height: 2rem;
            margin-right: 3vw;
            background-color: var(--black);
            border: 1px solid var(--white);
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: background-color .3s;
            color: var(--white);
            &:hover {
                background-color: var(--white);
                .social-icon svg {
                    color: var(--black);
                }
            }
            .social-icon {
                padding-top: 3px;
                color: var(--white);
                svg {
                    color: var(--white);
                    width: 100%;
                    height: 100%;
                    transition: all .5s ease;
                }
            }
        }
    }
}
@media (max-width: 865px) {
    #home #ctn_projects .cards {
        grid-template-columns: 100%;
        .projectCard {
            width: 80vw;
            max-width: 400px;
        }
    }
}
@media (max-width: 438px) {
    #home #ctn_projects .cards {
        grid-template-columns: 100%;
        .projectCard {
            .projectImg {
                aspect-ratio: 1 / 1;
            }
        }
    }
}
@media screen and (max-width: 580px) {
    #home #ctn_name {
        > div:first-of-type {
            position: relative;
            display: flex;
            align-items: center;
            h1 {
                max-width: 14ch;
            }
            .asterisk {
                width: 35vw;
                position: relative;
                margin-right: 2vw;
            }
        }
    }
}
@media screen and (max-width: 710px) {
    footer {
        flex-direction: column-reverse;
        gap: 0;
        .footer_social-list {
            margin: 0;
            align-items: flex-end;
        }
    }
}