footer {
    padding: 50px;
    height: 80vh;
    margin-top: 100px;
    color: var(--white);
    border-top: var(--figure_borders);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}
.footer_social-list {
    margin-top: 28%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.social-link {
    width: 8vw;
    min-width: 24px;
    max-width: 60px;
    height: 8vw;
    min-height: 24px;
    max-height: 60px;
    margin-right: 3vw;
    background-color: var(--black);
    border: 1px solid var(--white);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color .3s;
}
.social-icon, .social-icon svg {
    width: calc(8vw - 20%);
    min-width: 15px;
    max-width: 40px;
    height: calc(8vw - 20%);
    min-height: 15px;
    max-height: 40px;
}
.social-icon svg {
    transition: color .5s;
    color: var(--white);
}
.social-link:hover {
    background-color: var(--white);
}
.social-link:hover svg {
    color: var(--black);
}
#footer_firstLine a {
    cursor: pointer;
}
#footer_firstLine {
    font-family: var(--mainFont);
    font-weight: 300;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#footer_firstLine p {
    width: 70%;
    padding-left: 20px;
    text-align: right;

}
footer h1 {
    text-align: center;
}

#footer_ctnFigures {
    position: absolute;
    z-index: -2;
    width: 100%;
    height: 100%;
}
#footer_halfCircle {
    border-bottom: 0;
    bottom: -30%;
    position: absolute;
    z-index: -2;
    width: 80vw;
    height: 45vw;
    border-top-left-radius: 80vw;
    border-top-right-radius: 80vw;
}
#footer_titleandstar {
    position: relative;
    margin: 0%;
    padding: 0%;
}
#footer_star {
    right: 34vw;
    top: 11.5vw;
    width: 5vw;
    height: 5vw;
}
#footer_firstFullCircle {
    right: 13vw;
    top: 7vw;
    height: 25vw;
    width: 25vw;
}

@media (max-width: 820px) {
    #footer_firstLine {
        font-size: 1.3rem;
    }
}
@media (min-width: 820px) {
    #footer_firstLine {
        font-size: 1.7rem;
    }
}