#ctn_pageNotFound {
    width: 100%;
    height: 100vh;
} #ctn_pageNotFound, #pageNotFound_titles, #pageNotFound_getBackLinks {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
h2 {
    margin-top: -3vw;
}
#pageNotFound_titles p {
    color: var(--white);
    font-family: var(--accentFont);
    font-size: 6vw;
    font-weight: 400;
    letter-spacing: -2.6px;
    text-transform: uppercase;
}
#pageNotFound_getBackLinks {
    padding-top: 50px;
}
#pageNotFound_getBackLinks p {
    color: var(--white);
    font-family: var(--mainFont);
    font-size: 40px;
    font-weight: 300;
    letter-spacing: -1.2px;
}

#pageNotFound_getBackLinks ul {
    text-align: center;
    display: flex;
    flex-direction: row;
    margin-top: 3%;
}
#pageNotFound_getBackLinks a {
    color: var(--white);
    font-weight: 300;
    font-family: var(--mainFont);
    font-size: 1.4rem;
    letter-spacing: -0.6px;
    text-decoration: none;
    transition: .25s ease;
    margin: 0px 10px;
}
#pageNotFound_getBackLinks ul:hover a {
    color: #e3e5d8b6;
    opacity: 100;
}
#pageNotFound_getBackLinks li:hover a:hover {
    color: var(--white);
    box-shadow: 0 2px 0 0 currentcolor;
}