/*Landing*/
h1 {
    text-align: left;
}
h2 {
    margin-top: -3vw;
}
#name_indentation {
    text-align: right;
    margin-top: -3vw;
}
#bkg_gradient {
    width: 100vw;
    position: absolute;
    z-index: 10;
    background: linear-gradient(180deg, #17171700 0%, #171717 100%);
}

#ctn_myImg {
    width: 100%;
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
}
#myImg, #bkg_gradient {
    height: calc(40vw * 1.8);
    max-height: 65vh;
    top: 85%;
}
#myImg {
    position: absolute;
    width: 50vw;
    min-width: 250px;
    z-index: 2;
    object-fit: cover;
    object-position: center center;
    border-radius: 35vw 35vw 0px 0px;
}

#landing_star {
    top: 50%;
    left: -9vw;
    width: 45%;
    height: 45%;
}
#landing_firstArc {
    left: 14vw;
}
#landing_sndArc {
    right: 14vw;
}
#landing_firstArc, #landing_sndArc {
    height: calc((40vw * 1.8) + 10%);
    width: calc(50vw + 10%);
    max-height: calc(65vh + 10%);
    top: calc((3vw * -1.8));
    border-bottom: 0px;
}
#landing_line {
    width: 100%;
    height: 1px;
    border-top: 0;
    top: calc((3vw * 7));
    left: 0px;
}
#landing_halfCircle {
    border-bottom: 0;
    top: 55%;
    position: absolute;
    z-index: -2;
    left: calc((100% - 60vw)/2);
    transform: rotate(180deg);
    width: 60vw;
    height: 30vw;
    border-top-left-radius: 60vw;
    border-top-right-radius: 60vw;
}


/*About*/
#about {
    margin-top: 60vh;
}
.about_group {
    color: var(--white);
    margin-bottom: 40px;
}
.about_text {
    color: var(--white);
    margin-left: 17%;
    margin-top: 20px;
    font-weight: 300;
    font-family: var(--mainFont);
    font-size: 1.2rem;
    letter-spacing: -0.6px;
}
.about_text_company {
    color: var(--accentColor);
}
.about_text_time {
    opacity: 80%;
    margin-bottom: 5px;
}
.about_text li:before {
    content: "-";
    padding-right: 1ch;
}
.itemTitle {
    font-size: 1.3rem;
}
#ctn_aboutPhrase div a {
    font-weight: 300;
    font-family: var(--mainFont);
    font-size: 1.2rem;
    letter-spacing: -0.6px;
    text-decoration-line: underline;
    padding-left: 10%
}

#about_phrase {
    color: var(--white);
    font-weight: 400;
    margin-bottom: 0.5rem;
    font-family: var(--accentFont);
    letter-spacing: -1px;
    text-transform: uppercase;
}

#about_ctnFigures {
    left: 0%;
    width: 100%;
    padding: 0%;
    display: flex;
}
#about_halfCircle {
    border-left: 0;
    margin-right: 0%;
}
#about_firstFullCircle {
    margin-right: 3vw;
}
#about_sndFullCircle {
    margin-right: 5vw;
}

/*Projects*/
#content-archive {
    padding: 0 0 2em;
    text-align: center;
}
.thumbnail {
    margin: 20px 20px;
    position: relative;
    display: inline-block;
    color: var(--white);
    vertical-align: top;
    width: 40%;
    min-width: 300px;
    min-height: 200px;
    height: 20%;
} .thumbnail a {
    width: 100%;
} .thumbnail img {
    max-width: 100%;
    object-fit: cover;
    border: 0px;
}
.thumbnail a:first-of-type > div {
    position: absolute;
    opacity: 0;
    z-index: 6;
    width: 100%;
    height: calc(100% - 3px);
}
.thumbnail .hover {
    margin-top: 5px;
}
.thumbnail .hover a {
    opacity: 0;
    width: 100%;
    transition: all .4s;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}
.thumbnail .hover a p:first-of-type {
    font-family: var(--accentFont);
}
.thumbnail:hover .hover a, .thumbnail:hover a:first-of-type > div{
    opacity: 1;
    color: var(--white);
}
.thumbnail:hover img {
    box-shadow: 0px 0px 40px -10px rgba(216, 216, 219, 0.377);
}
.tags {
    font-size: 1.3em;
    line-height: 2.3em;
    display: block;
    margin: 0;
    padding: 0;
    text-align: right;
    text-wrap: nowrap;
    font-weight: 300;
}
.project_title {
    font-size: 2.14em;
    font-weight: 400;
    margin: 0;
    padding: 0px 10px 0px 0px;
    text-align: left;
}
#content-archive .thumbnail .hover h1, #home-archive .thumbnail .hover h1 {
    margin-top: 0.083em;
}


@media only screen and (max-width: 768px) {
    .thumbnail .hover a {
        opacity: 1;
    }
    .thumbnail:hover a:first-of-type > div{
        opacity: 0;
    }
}
@media (max-width: 820px) {
    h3 {
        margin: 100px 0px 50px;
    }
    #about > div:first-of-type > div:first-of-type {
        width: 80%
    }
    .about_group:nth-of-type(2) {
        margin-left: 20%;
    }
    .about_group:nth-of-type(1), .about_group:nth-of-type(3), .about_group:nth-of-type(2) {
        width: 80%;
    }
}
@media (min-width: 820px) {
    h3 {
        margin: 100px 0px 80px;
        padding-top: 70px;
    }
    #about > div:first-of-type > div:first-of-type {
        width: 50%;
        min-width: 500px;
    }
    .about_group:nth-of-type(2) {
        margin-left: 40%;
    }
    .about_group:nth-of-type(1), .about_group:nth-of-type(3) {
        width: 60%;
    }
}
@media (max-width: 1000px) {
    #about > div:first-of-type {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #about_phrase {
        line-height: calc(2.3rem - 15%);
        font-size: 2.3rem;
        text-align: center;
    }
    #ctn_aboutPhrase div {
        display: flex;
        justify-content: center;
        flex-direction: row;
    }
    #about_ctnFigures {
        bottom: 0%;
        height: max-content;
        justify-content: flex-end;
        align-items: center;
    }
    #about_star {
        bottom: 100%;
        width: 5vw;
        height: 5vw;
    }
    #about_halfCircle {
        width: 10vw;
        height: 20vw;
        border-radius: 0px 60vw 60vw 0px;
    }
    #about_firstFullCircle, #about_sndFullCircle {
        height: 15vw;
        width: 15vw;
    }
}
@media (min-width: 1000px) {
    #about > div:first-of-type {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 0px;
        flex-direction: row;
    }
    #about_phrase {
        line-height: calc(50px - 15%);
        font-size: 50px;
        text-align: right;
    }
    #ctn_aboutPhrase {
        width: 40%;
    }
    #ctn_aboutPhrase div {
        display: flex;
        justify-content: flex-end;
        flex-direction: row;
    }
    #about_ctnFigures {
        top: 0%;
        height: 100%;
        justify-content: flex-end;
        align-items: center;
    }
    #about_star {
        top: 35%;
        width: 10%;
        height: 10%;
    }
    #about_halfCircle {
        width: 30vw;
        height: 60vw;
        border-radius: 0px 60vw 60vw 0px;
    }
    #about_firstFullCircle, #about_sndFullCircle {
        height: 40vw;
        width: 40vw;
        max-height: 600px;
        max-width: 600px;
    }
}
@media (min-width: 1420px) {
    #ctn_aboutPhrase {
        width: 30%;
    }
}