#project_title {
    width: 100%;
    overflow: hidden;
    margin-bottom: 50px;
}
h2 {
    text-align: right;
    width: 60vw;
    float: right;
    margin-top: 0.1vw;
}
.project_description {
    color: var(--white);
    margin-top: 5px;
    font-weight: 300;
    font-family: var(--mainFont);
    font-size: 1.2rem;
    letter-spacing: -0.6px;
}
.ctn_pages {
    z-index: 0;
    display: flex;
    width: 100%;
    margin-bottom: 20vh;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}
.desktopPage, .mobilePage {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: max-content;
}
.mobilePage {
    width: 30%;
    max-width: 300px;
    margin-top: 100px;
    margin-right: 2%;
} .mobilePage img, .desktopPage img {
    width: 100%;
    display: inline-block;
    max-width: 100%;
}
.mobilePage img:nth-of-type(2), .desktopPage img:nth-of-type(2), video {
    box-shadow: 0px 0px 40px -10px rgba(216, 216, 219, 0.377);
}
.mobilePage img:nth-of-type(2), .desktopPage img:nth-of-type(2){
    position: absolute;
    margin-top: 10px;
    z-index: -1;
}
.mobilePage img:not(:first-of-type), .desktopPage img:not(:first-of-type) {
    border-radius: 0px 0px 12px 12px;
    top: 0%;
    left: 0%;
} .transparentImg {
    z-index: -3;
    opacity: 0;
}
.desktopPage {
    width: 60%;
    max-width: 900px;
    margin-left: 2%;
}
.desktopPage img:first-of-type, .mobilePage img:first-of-type {
    outline: 10px solid #000;
    border-radius: 20px;
    margin-top: 10px;
}

@media (max-width: 820px) {
    .mobilePage {
        display: none;
    }
    .desktopPage {
        width: 100%;
    }
    .project_description {
        width: 90%;
        max-width: 90vw;
    }
    .project_videoSection {
        display: flex;
        flex-direction: column;
        margin-bottom: 70px;
    }
    .project_videoSection video {
        width: 100%;
    }
    #video_star {
        position: absolute;
        bottom: -15vw;
        left: 45vw;
        width: 30vw;
        z-index: -2;
    }
    #project_videoSection_text {
        margin-bottom: 20px;
    }
    .desktopPage {
        margin-top: 20px;
    }
}
@media (min-width: 820px) {
    .desktopPage {
        width: 60%;
        max-width: 900px;
        margin-left: 2%;
    }
    .project_description {
        max-width: 600px;
        width: 90%;
        margin-left: 5rem;
    }
    .project_videoSection {
        display: flex;
        flex-direction: row-reverse;
        margin-bottom: 70px;
    }
    .project_videoSection video {
        width: 70%;
    }
    #video_star {
        position: absolute;
        top: 0%;
        left: 45vw;
        width: 30vw;
        z-index: -2;
    }
    #project_videoSection_text {
        margin-left: 4vw;
    }
    .ctn_pages {
        margin-top: 100px;
    }
}